.header {
  _border: 1px solid red;
  _background-color:  blue;
  margin-bottom: 120px;


  > ul {
    display: flex;
    justify-content: end;
    gap: 20px;
    margin-bottom: 65px;

    & + h2 {
      _margin-top: 65px;
    }

    > li {
      a {
        font-size: 14px;
        color: #696969;
      }
    }
  }


  h2 {
    font-size: 30px;
    font-weight: 600;
    color: #121212;
  }
}

