.header {
  _border: 1px solid red;
  _background-color:  blue;

  > ul {
    display: flex;
    justify-content: end;
    gap: 12px;
    > li {

    }
  }

  h2 {
    font-size: 30px;
    font-weight: 600;
    color: #121212;
  }
}

