.navbar-wrap {
  position: sticky;
  left: 0;
  top: 0;
  width: 200px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}


.navbar-box {

  margin-top: 23px;

  h3 {
    color: #121212;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 16px;
  }

  > ul {

    >li {
      a {
        font-size: 14px;
        font-weight: 500;
        color: #515151;
      }
    }
  }
}